:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.formheading{
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;

}.form {
     
      padding: 30px 40px;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      gap: 10px;
    }

    .form input {
      padding: 10px 15px;
      border: 2px solid #ccc;
      border-radius: 8px;
      outline: none;
      font-size: 16px;
      transition: border-color 0.3s;
      flex: 1;
    }

    .form input:focus {
      border-color: #2575fc;
    }

    .form button {
      background: #2575fc;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;
    }

    .form button:hover {
      background: #1b5fd8;
    }